.outer-container {
    background: #AFD4C0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    display: flex;
    background:#DEDEDE;
    width: 60%;
    height: 25%;
    line-height: .5%;
    margin-top: 20px;
    flex-direction: column;

}

#button {
    width: 30px;
}

